<footer>

    <section class="container">
        <div>
            <span>l'Ouverture d'Unamore</span>
            <span>Nassaukade 169 II</span>
            <span>1053LL Amsterdam</span>
            <span>viva@unamore.com</span>
        </div>
        <div>
            
        </div>
        <div>
            
        </div>



    </section>



</footer>