    <section id="home_gallery" class="large-container">

      <!-- add a hover div over each image + link to series page --> 

       <div class="gallery-item">
          <div class="image-container">
            <div class="image-overlay"></div>
            <img src="./img/1200/12829.jpg" />
            <a href="/schilderijen/het-andere-nieuws" class="image-description">
              <h3>Rosa Parks en Malcolm X</h3>
              <span>Het andere nieuws</span>
              <span>47x37cm - mixed media</span>   
              {{> icon-arrow }}  
            </a>
          </div>
        </div>
       
      </div>
      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/10614.jpg" />
            <a href="/schilderijen/berlijn" class="image-description">
              <h3>De rivier de Spree</h3>
              <span>Berlijn</span>    
              {{> icon-arrow }} 
            </a>
        </div>
        </div>  
      </div>
      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/12161.jpg" />
            <a href="/schilderijen/parijs" class="image-description">
              <h3>De rivier de Seine</h3>
              <span>Parijs</span>
              <span>100x100cm</span>  
              {{> icon-arrow }}    
            </a>
        </div>
        </div>
      </div>
  
      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/12914.jpg" />
            <a href="/schilderijen/aarde" class="image-description">
              <h3>Aquarius energie</h3>
              <span>Aarde</span>
              <span>53x63cm</span>   
              {{> icon-arrow }}   
            </a>
        </div>
        </div>
      </div>

      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/10211.jpg" />
            <a href="/schilderijen/zonen-van-jacob" class="image-description">
              <h3>Schild van de familie Jacob</h3>
              <span>Zonen van Jacob</span>
              <span>63x53cm - mixed media</span>   
              {{> icon-arrow }}   
            </a>
          
        </div>
        </div>
      </div>

      <div class="gallery-item">
        {{!-- <img src="http://unamore.com/admin/wp-content/uploads/2014/07/10834-865x1024.jpg" /> --}}
      </div>


      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/10155.jpg" />
            <a href="/schilderijen/brussel" class="image-description">
              <h3>Vrijage</h3>
              <span>Brussel</span>
              <span>47x37cm - mixed media</span>   
              {{> icon-arrow }}   
            </a>
          
        </div>
        </div>
      </div>


      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/10837.jpg" />
            <a href="/schilden" class="image-description">
              <h3>Max</h3>
              <span>Schilden</span>
              {{> icon-arrow }} 

            </a>
          
        </div>
        </div>
      </div>


      <div class="gallery-item">
        <div class="image-container">
          <div class="image-overlay"></div>
            <img src="./img/1200/12916.jpg" />  
            <a href="/schilderijen/ascended-masters" class="image-description">
              <h3>Meester Jezus Christus</h3>
              <span>Ascended masters</span>
              <span>63x53cm - mixed media</span>   
              {{> icon-arrow }}    
            </a>
          
        </div>
        </div>
      </div> 
     
    </section>