<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud https://cloud.typography.com 'unsafe-inline'; img-src 'self' data: https://neutralpress.mypinata.cloud; font-src 'self' https://cloud.typography.com data:">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter</title>
    <style id="custom-css"></style>
    <script>
    fetch("insert_stylesheet.css").then(response => response.text()).then(css => {document.getElementById("custom-css").textContent = css;});
    </script>

    <link rel="stylesheet" href="">
</head>     