
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li style="opacity:0">-----</li>
        <li><a href="/zeven-steden">Zeven steden</a></li>   
        <li><a href="/ruth-spreekt">Ruth spreekt</a></li>  
        <li><a href="/schilderijen/zonen-van-jacob">Zonen van Jacob</a></li> 
        <li style="opacity:0">-----</li>
        
        <li><a href="/biografie">Biografie</a></li>
        <li><a href="/louverture">l'Ouverture</a></li>
        <li><a href="/schilden">Schilden</a></li>
        <li><a href="/nieuwsbrieven">Nieuwsbrieven</a></li> 
        <li><a href="/contact">Contact</a></li> 

    </ul>

    <span class="button" onclick="toggleMenu()">terug</span>
</nav>