<section class="container">

    <ul class="tabs">   
        <li><a href="/schilderijen/spiritualiteit">Spiritualiteit<span>28</span></a></li>
        <li><a href="/schilderijen/parijs">Parijs<span>26</span></a></li>
        <li><a href="/schilderijen/berlijn">Berlijn <span>18</span></a></li>
        <li><a href="/schilderijen/amsterdam">Amsterdam<span>15</span></a></li>
        <li><a href="/schilderijen/zonen-van-jacob">Zonen van Jacob<span>14</span></a></li>
        <li><a href="/schilderijen/brussel">Brussel <span>11</span></a></li> 
        <li><a href="/schilderijen/ascended-masters">Ascended masters <span>10</span></a></li> 
        <li><a href="/schilderijen/fatima">Fatima <span>10</span></a></li>
        <li><a href="/schilderijen/mechelen">Mechelen <span>8</span></a></li>
        <li><a href="/schilderijen/aarde">Aarde <span>7</span></a></li>
    </ul>

</section>