@use 'colours';

@mixin bodyText {

    font-size: 1.25rem;
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
}

@mixin uppercase {
    
}


h1 {

}


h2 {

}

h3 {
 
}

a {
    color:  var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);
}

p {
    margin-top: 0;
    margin-bottom: 1.55rem;
}

em {
    font-style: italic;
}
