@use 'colours';

@mixin bodyText {

    font-family: "Hoefler Text A", "Hoefler Text B";
    font-size: 1.25rem;
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    color: #444;
}

@mixin uppercase {
    
    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}


h1 {
    @include uppercase;
    font-size: 1.8rem;
    line-height: 1.8;

    span {
        font-weight: 500;
    }
}


h2 {

    font-family: "Quarto A", "Quarto B";
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.025;
    margin: 0 0 1.5rem 0;
    font-style: italic;
    text-transform: lowercase;

}

h3 {

    font-family: "Quarto A", "Quarto B";
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.05;
    margin: 0;
    text-transform: lowercase;
    font-style: italic;
 
}

article h3 {
    margin-bottom: 1.5rem;
}

h4, h5, h6 {
    font-family: "Quarto A", "Quarto B";        
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.05;
    margin: 0;
    text-transform: lowercase;
    font-style: italic;
}

a {
    color:  var(--black);
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

p {
    margin-top: 0;
    margin-bottom: 1.55rem;
}

p > span {
    background-color: var(--greybackground);
    box-shadow: -10px 0px 0 7px var(--greybackground),
      10px 0px 0 7px var(--greybackground),
      0 0 0 7px var(--greybackground);
    box-decoration-break: clone;
}

em {
    font-style: italic;
}

.bla {
    color: #999;
}