<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

{{> header}}

<aside>
       {{> nav }}
</aside>


<main>
       <section class="small-container">
              <article>
                     <h1>{{title}}</h1>
                     <div>{{{content}}}</div>
              </article>
       </section>

       <section id="archief" class="small-container">

               <ul>
               {{#with unique_years posts as |years|}}

                            <li class="year_breaker">{{this}}</li>
                            {{#with filter_by_year this ../../posts as |filtered|}}

                            {{/with}}

               {{/with}}
               </ul>
       </section>

       {{> tabs }}

</main>

       {{> footer}}
</body>
</html>
