<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}

<body id="blog">
    {{> header}}
    <main>
        <section id="blog_container" class="container small_container">
          
            <article class="blog">           
                {{{extract_images content}}}          
            </article>
        
        </section>
    </main>
</body>
</html>