<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

  {{> header}}

  <aside>
      {{> nav }}
  </aside>
 
  <main>
      {{> gallery }}
      {{> tabs }}
  </main>

    {{> footer }}
</body>
</html>