<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

  {{> header}}

  <aside>
      {{> nav }}
  </aside>
 

 <main id="mainsystemz">

  <article id="page">
      <section class="small-container blog_header">
        <h1>{{body.title}}</h1>
      </section>
      <section class="small-container">{{{ extract_images (markdown body.content) }}}</section> 
  </article>

  {{> tabs}}
</main>

{{> footer}}
</body>
</html>