@use '../styleguide/breakpoints';

.flex_row {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: breakpoints.$breakpoint-medium) {
        flex-direction: row;
    }

}